/*Aplicação de formatação de um bloco(div)*/
#menu{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #000000;
	font-size: 30px;
	border: 1px solid blueviolet;
}
/*Aplicação de cor de fonte*/
#font1{
	color: #751919;
}
/*Aplicação de BoxModel*/
#boxmodel{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#divexample{
	margin: auto;
	padding: 10px, 20px, 10px, 20px;
	background-color: #111111;
	font-size: 20px;
	font-family: 'Mitr', sans-serif;
	color: #751919;
}

.marcador{
	background: #fe9d9d;
	border: 1px solid #f94646;
}

.marcador2{
	background-color: #111111;
	color: #751919;
}
